<!DOCTYPE html>
<html>
  <% include includes/head %>
  <body class="index">
    <% include includes/messages %>
    <header>
      <a href="/order" class="track-btn"><img src="/images/track-logo.png">Track your order</a>
      <a href="/login" class="login-btn">Log in</a>
    </header>
    <div class="store-profile">
      <img src="/images/bs-logo.png" width="48" height="48">
      <h1>Breadstock</h1>
      <h3>The fattest bread, promise!</h3>
    </div>
    <div class="container products"></div>
    <div class="container checkout none">
      <h2>Checkout</h2>
      <a href="" class="back-btn btn">I need more breads</a>
      <form action="/api/order/add" class="shipping-form" method="post" enctype="multipart/form-data" autocomplete="off" onsubmit="document.getElementById('submit-btn').disabled = true; document.getElementById('submit-btn').innerHTML='Submitting...'"; novalidate>
        <h3>Shipping details</h3>
        <label for="">Name</label>
        <input type="text" name="name" required>
        <label for="phone">Phone</label>
        <input type="text" name="phone" required>
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="address">Address</label>
        <textarea name="address" rows="10" required></textarea>
        <input type="hidden" name="coupon" value="">
        <button id="submit-btn" class="submit-btn btn" value="Submit order">Submit order</button>
      </form>
      <div class="product-ordered">
        <h3>Your order</h3>
        <table class="product-ordered--list">
          <tbody></tbody>
        </table>
        <div class="product-ordered--summary">
          <form action="/api/coupon/check/" class="coupon-form" method="post" enctype="multipart/form-data" autocomplete="off" onsubmit="document.getElementById('coupon-btn').disabled = true; document.getElementById('coupon-btn').innerHTML='Checking...'"; novalidate>
            <p>Have a Breadstock coupon? Enter the coupon code:</p>
            <input type="text">
            <button id="coupon-btn" class="coupon-btn" value="Submit">Use coupon</button>
          </form>
          <table>
            <tr>
              <td>Subtotal</td>
              <td><p class="product-ordered--total">Rp <span class="product-ordered--total-subtotal">0</span></p></td>
            </tr>
            <tr>
              <td>Shipping</td>
              <td><p class="product-ordered--total">Rp <span class="product-ordered--total-shipping">0</span></p></td>
            </tr>
            <tr>
              <td>Coupon discount <span class="product-ordered--total-percentage"></span></td>
              <td><p class="product-ordered--total coupon">- Rp <span class="product-ordered--total-coupon">0</span></p></td>
            </tr>
            <tr>
              <td class="total">Total</td>
              <td><p class="product-ordered--total">Rp <span class="product-ordered--total-final">0</span></p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <footer>
      <span class="total-breads none">Total <strong class="total-breads--count">3</strong> breads</span>
      <span class="nobreads">Our breads will not makes you fat, give it a try</span>
      <a href="" class="checkout-btn btn none">Proceed to checkout</a>
    </footer>
    <% include includes/footer %>
  </body>
</html>